---
import Layout from "../../../layouts/Layout.astro";
import prisma from "../../../../prismaa";

import { Image } from "astro:assets";

export async function getStaticPaths() {
    const posts = await prisma.posts.findMany();
    console.log(posts);
    var para = [{}];
    posts.forEach((a) => {
        para.push({ params: { id: a.id.toString() } });
    });
    para.shift();
    console.log(para);

    return para;
}

const { id } = Astro.params;

const post = await prisma.posts.findFirst({
    where: { id: parseInt(id) },
});

import bbcode from "bbcode";
var parsedcode = bbcode.parse(post?.content);
---

<Layout title="Alba Blog | POST">
    <div>
        <div class="p-4">
            <div class="flex justify-center mb-3 items-center">
                <Image
                    class="rounded-lg w-50"
                    src={post
                        ? post.tumble
                            ? post.tumble
                            : "/img/testImages/testPost.jpeg"
                        : "/img/testImages/testPost.jpeg"}
                    width="512"
                    height="512"
                    alt="TumblePost"
                />

                <div class="p-4">
                    <h1 class="text-2xl mb-1">
                        {post ? post.title : "Not title found"}
                    </h1>
                    <p>{post ? post.sdesc : "Description not found"}</p>
                </div>
            </div>

            <div class="flex justify-center">
                <div class="mt-10 w-[80%]">
                    <!-- <h1>{post ? post.content : "Content not found"}</h1> -->
                    <h1 id="TestH1">{parsedcode}</h1>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script define:vars={{ parsedcode }}>
    var testh1 = document.getElementById("TestH1");

    testh1.innerHTML = parsedcode;
</script>
